#header .logo {
float: left;
width: 60px;
}

html {
  overflow-x: initial !important;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}



header[data-v-6e2cff71]
{
position:absolute;
top:0;
left:0;
padding:2em 3.25em .75em;
z-index:200;
width:100vw;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between
}


@media (min-width:992px)
{header[data-v-6e2cff71]
{padding:3.25em 3.25em .75em}
}






.logo[data-v-6e2cff71]
{display:inline-block;
position:relative;z-index:400;
-webkit-box-flex:0;
-ms-flex:0 0 130px;
flex:0 0 130px}




a,a:active
{color:currentColor}a,button
{border:none;
background:none;
margin:0;
padding:0;
outline:none;
-webkit-box-sizing:inherit;
box-sizing:inherit;
cursor:pointer;
text-decoration:none}



html
{-webkit-box-sizing:border-box;
box-sizing:border-box}


*{-webkit-box-sizing:inherit;
box-sizing:inherit}


img{width:100%;
max-width:100%;
height:auto;
vertical-align:bottom}





