.grid .grid-item .media img[data-v-e267a366]{user-drag:none;user-select:none;-moz-user-select:none;-webkit-user-drag:none;-webkit-user-select:none;-ms-user-select:none}.block-hero-full[data-v-e267a366]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;position:relative;z-index:2;height:100%;min-height:60vh}





@media (min-width:1440px){.rte td[data-v-4115b3df]{font-size:16px}}.rte th[data-v-4115b3df]{font-weight:600;text-align:left}.cta .banner-inner h1[data-v-4115b3df]{margin-bottom:.25em}.cta .banner-inner h2[data-v-4115b3df]{margin-bottom:.15em}.cta .banner-inner h3[data-v-4115b3df],.cta .banner-inner h4[data-v-4115b3df],.cta .banner-inner h5[data-v-4115b3df]{margin-bottom:0}.block-team .team-members .team-member .profile-image[data-v-4115b3df]{user-drag:none;user-select:none;-moz-user-select:none;-webkit-user-drag:none;-webkit-user-select:none;-ms-user-select:none}.block-team[data-v-4115b3df]{position:relative}



@media (min-width:992px){.block-team[data-v-4115b3df]{padding:0 15vw;margin:3em;overflow:hidden}.block-team[data-v-4115b3df]:after{pointer-events:none}}.block-team .content[data-v-4115b3df]{margin-top:2em;text-align:center;position:relative;z-index:1}




@media (min-width:992px){.block-team .content[data-v-4115b3df]{margin-top:3.25em;padding-top: 4em}}.block-team .team-members[data-v-4115b3df]{position:relative;z-index:1;display:-webkit-box;display:-ms-flexbox;display:flex;margin-top:8em;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}


@media (min-width:768px){.block-team .team-members[data-v-4115b3df]{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;margin-top:7.25em;padding-top: 4em;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}}.block-team .team-members .team-member[data-v-4115b3df]{background:rgba(25, 25, 25, 0.45);-webkit-box-shadow:var(--box-shadow);box-shadow:var(--box-shadow);border-radius:var(--border-radius);height:250px;margin:.75em 1.25em;position:relative;padding:2em;overflow:hidden;display:block}.block-team .team-members .team-member[data-v-4115b3df]:after{content:"";position:absolute;top:0;left:50%;-webkit-transform:translateX(-45%);transform:translateX(-45%);background-image:var(--background-element);background-size:100% auto;background-repeat:no-repeat;background-position:top;height:100%;width:200%;opacity:0;-webkit-transition:opacity .36s cubic-bezier(.19,1,.22,1);transition:opacity .36s cubic-bezier(.19,1,.22,1);pointer-events:none}.block-team .team-members .team-member .profile-image[data-v-4115b3df]{position:absolute;z-index:1;right:-20%;top:0;-webkit-transition:all .72s cubic-bezier(.19,1,.22,1);transition:all .72s cubic-bezier(.19,1,.22,1)}




@media (min-width:768px){
.block-team .team-members .team-member .profile-image[data-v-4115b3df]{
-webkit-transform:scale(1.224);
transform:scale(1.224);
-webkit-filter:brightness(50%);
filter:brightness(50%)}
.block-team .team-members .team-member .profile-image[data-v-4115b3df]:hover{-webkit-filter:brightness(100%);
filter:brightness(100%);
z-index:3}}
.block-team .team-members .team-member .name[data-v-4115b3df]{
font-family:var(--font-family-primary);
font-weight:700;
font-size:30px}




@media (min-width:768px){.block-team .team-members .team-member[data-v-4115b3df]{background:transparent;-webkit-box-shadow:none;box-shadow:none;height:auto;margin:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;overflow:visible;padding:0;max-width:400px}.block-team .team-members .team-member:hover .name[data-v-4115b3df],.block-team .team-members .team-member[data-v-4115b3df]:hover:after{opacity:1}}




@media (min-width:768px) and (min-width:768px){.block-team .team-members .team-member .name[data-v-4115b3df]{opacity:0;position:absolute;top:0;left:50%;white-space:pre;-webkit-transform:translateY(-200%) translateX(-50%);transform:translateY(-200%) translateX(-50%);font-size:40px}}@media (min-width:768px) and (min-width:768px) and (min-width:400px) and (max-width:1440px){.block-team .team-members .team-member .name[data-v-4115b3df]{font-size:calc(30px + (2000vw - 8000px)/1040)}}@media (min-width:768px) and (min-width:768px) and (min-width:1440px){.block-team .team-members .team-member .name[data-v-4115b3df]{font-size:60px}}@media (min-width:768px){.block-team .team-members .team-member .name-wrap[data-v-4115b3df]{width:100%;text-align:center;position:absolute;left:0;top:0;opacity:0;-webkit-transition:all .1s cubic-bezier(.19,1,.22,1);transition:all .1s cubic-bezier(.19,1,.22,1)}.block-team .team-members .team-member .profile-image[data-v-4115b3df]{position:static}}.block-social-accounts{margin-top:var(--spacing-fatboi)}.block-social-accounts .heading-absolute{-webkit-transform:translateY(12.5%);transform:translateY(12.5%);top:0}.social-accounts{margin:0.7em;position:relative}






@media (min-width:992px).social-accounts:after{content:"";position:absolute;top:50%;left:50%}.social-accounts .accounts-list{position:relative;z-index:1}
width:768px){.social-accounts .accounts-list{border-radius:6px;}}

.social-accounts ul{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin: 0;padding:0}
.social-accounts ul li{-webkit-box-flex:0;-ms-flex:0 0 125px;flex:0 0 125px;height:125px;border-radius:50%}



.social-accounts ul li a{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;height:100%}


.social-accounts ul li a:hover{opacity:.5}.social-accounts ul li img{width:60px;height:auto}[data-v-37efdd16]:root{--fw-bold:700;--fw-regular:400}body.fonts-loaded[data-v-37efdd16]{font-family:var(--font-family-primary);opacity:1}body[data-v-37efdd16]{font-family:var(--font-family-primary),arial,sans-serif;font-weight:400;font-style:normal;word-spacing:.125rem;font-size:16px}







