@import url(https://fonts.googleapis.com/css?family=Barlow:700&display=swap);




@font-face{font-family:Shentox;src:url(/fonts/Shentox/Shentox-Bold.otf) format("opentype"),url(/fonts/Shentox/Shentox-Bold.woff2) format("woff2"),url(/fonts/Shentox/Shentox-Bold.woff) format("woff");font-weight:700}:root{--colors-main-dark:#0d0d0d;--colors-main:#111;--colors-main-light:#191919;--colors-main-lighter:#2b2b2b;--colors-accent:#e14645;--colors-black:#111;--colors-white:#fff;--background-primary:linear-gradient(0deg,#111,#111);--background-mobile-nav:#111;--background-secondary:linear-gradient(0deg,#111,#111);--background-tertiary:#191919;--background-color:linear-gradient(0deg,#111,#111);--text-color:#fff;--font-family-primary:Shentox,Barlow,sans-serif;--font-family-secondary:Shentox,IBM Plex Sans,sans-serif;--fw-bold:700;--fw-regular:400}body.fonts-loaded{font-family:var(--font-family-primary);opacity:1}body{font-family:var(--font-family-primary),arial,sans-serif;font-weight:400;font-style:normal;word-spacing:.125rem;font-size:16px}







@media (min-width:1440px){.heading-2,.rte h2{font-size:40px}}.heading-3,.rte h3{font-weight:700;line-height:1.5;margin-bottom:.75em;font-family:var(--font-family-primary);font-size:22px}@media (min-width:400px) and (max-width:1440px){.heading-3,.rte h3{font-size:calc(22px + (0vw - 0px)/1040)}}













@media (min-width:1440px){.label,small{font-size:70%}}small{opacity:.8;line-height:1}small+*{margin-top:1.25em}li,p{line-height:1.6;font-weight:400;display:block;line-height:1.5;-webkit-margin-before:0;margin-block-start:0;margin-bottom:1.5em}li{-webkit-margin-before:0;margin-block-start:0;margin-bottom:0}strong{font-weight:700;font-style:normal}em,i{font-style:italic}a,a:visited,em,i{font-size:inherit}a,a:visited{font-weight:inherit}.rte{display:block}.rte a,.rte a:visited{text-decoration:underline}.rte a.button,.rte a:hover,.rte a:visited:hover{text-decoration:none}













@media (min-width:1440px){.rte td{font-size:16px}}.rte th{font-weight:600;text-align:left}.cta .banner-inner h1{margin-bottom:.25em}.cta .banner-inner h2{margin-bottom:.15em}.cta .banner-inner h3,.cta .banner-inner h4,.cta .banner-inner h5{margin-bottom:0}*,root{--duration-fast:100ms;--duration-normal:360ms;--duration-slow:720ms;--easeing-InExpo:cubic-bezier(0.950,0.050,0.795,0.035);--easeing-OutExpo:cubic-bezier(0.190,1.000,0.220,1.000);--easeing-InOutExpo:cubic-bezier(1.000,0.000,0.000,1.000)}.marquee .partner-list .partner{margin:0 1.25em}body{background:#111}body:after{content:"";position:fixed;z-index:10;bottom:0;left:0;width:100%;height:15%;background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(17,17,17,0)),color-stop(90%,#111));background-image:linear-gradient(180deg,rgba(17,17,17,0),#000 100%);pointer-events:none}












@media (max-width:991px){.profile-image-wrap{position:relative}.profile-image-wrap:after{content:"";position:absolute;left:0;width:100%;height:150px;bottom:0;z-index:1;background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(17,17,17,0)),to(#111));background-image:linear-gradient(180deg,rgba(17,17,17,0),#000)}}.block-game-calendar .game:first-child:last-child.tournament{background-color:hsla(0,0%,100%,.05)}.block-game-calendar a.game,.block-game-calendar a.game:first-child:last-child.tournament{position:relative;overflow:hidden}.block-game-calendar a.game:first-child:last-child.tournament>*,.block-game-calendar a.game>*{position:relative;z-index:1}.block-game-calendar a.game:after,.block-game-calendar a.game:first-child:last-child.tournament:after{content:"";background-color:hsla(0,0%,100%,.05);position:absolute;left:0;top:0;width:100%;height:100%;-webkit-transform:translateX(-105%);transform:translateX(-105%);-webkit-transition:-webkit-transform .36s cubic-bezier(.19,1,.22,1);transition:-webkit-transform .36s cubic-bezier(.19,1,.22,1);transition:transform .36s cubic-bezier(.19,1,.22,1);transition:transform .36s cubic-bezier(.19,1,.22,1),-webkit-transform .36s cubic-bezier(.19,1,.22,1)}